@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&display=swap');
body
{
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Lato',sans-serif;
	font-family: 'Ubuntu',sans-serif;
}
.bg-light{
	background-color: rgba(0,123,255,.5)!important;
}
.navigation-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}
.myname
{
	font-family: 'Bebas Neue', sans-serif;
    font-family: 'Black Ops One', cursive;
}
/*html
{
	scroll-behavior: smooth;
}*/
.mymenu
{
	text-transform: uppercase;
	color: white;
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 1.5px;
}
.mymenu:hover
{
	color: #4e9181;
}
#home
{
	margin-top: 70px;
}
.dv:
{
	height: 500px;
	width: 100%;
}
.info
{
	margin-top: 10%;
	margin-left: 5%;
}
.hminfo
{
	font-size: 30px;
	color: black;
}
.hmname
{
	font-family: 'Anton',sans-serif;
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	font-size: 50px;
	color: #e68250;
}
